*,
*::before,
*::after {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  text-decoration: none;
}
/* font-style: normal; */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-header {
}
.container {
}
.navigation {
}
.navigation-btns {
}
.nav-btn {
}
.nav-address {
}
.nav-address-list {
}
.nav-address-item {
}
.booking-btn {
}
.hero-section {
}
.hero-list {
}
.hero-item {
}
.hero-text {
}
.hero-title {
}
.hero-subtitle {
}
.about-section {
}
.about-list {
}
.about-item {
}
.about-text {
}
.about-title {
}
.about-subtitle {
}
.about-desc {
}
.about-btn {
}
.price-section {
}
.price-pretitle {
}
.price-title {
}
.price-list {
}
.price-item {
}
.old-school-section {
}
.old-school-list {
}
.old-school-item {
}
.old-pretitle {
}
.old-title {
}
.old-text {
}
.barbers-section {
}
.barbers-pretitle {
}
.barber-title {
}
.barber-list {
}
.barber-item {
}
.barber-content {
}
