*,
*::before,
*::after {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
ul {
  margin: 0;
  padding-left: 0;
}
.list {
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* font-style: normal; */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.header-logo {
  margin-right: 130px;
}
.nav-header {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
}
.navigation-btns {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-btn {
  text-decoration: none;
}
.nav-address {
}
.nav-address-list {
  gap: 40px;
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-address-item {
  text-transform: uppercase;
}
.booking-btn {
}
.hero-section {
}
.hero-list {
  list-style: none;
}
.hero-item {
  list-style: none;
  text-decoration: none;
}
.hero-text {
}
.hero-title {
}
.hero-subtitle {
}
.about-section {
}
.about-list {
}
.about-item {
}
.about-text {
}
.about-title {
}
.about-subtitle {
}
.about-desc {
}
.about-btn {
}
.price-section {
}
.price-pretitle {
}
.price-title {
}
.price-list {
}
.price-item {
}
.old-school-section {
}
.old-school-list {
}
.old-school-item {
}
.old-pretitle {
}
.old-title {
}
.old-text {
}
.barbers-section {
}
.barbers-pretitle {
}
.barber-title {
}
.barber-list {
}
.barber-item {
}
.barber-content {
}
